.light{
  display:inline-block;
  vertical-align:middle;
  width:40px;
  height:40px;
  border-radius:20px;
  background:radial-gradient(circle at 50% 40%,white 20%,yellow 50%);
  box-shadow:0 0 10px 2px rgba(255,255,0,.7);
}
:checked+.light{
  box-shadow:none;
  background:radial-gradient(circle at 50% 40%,white 20%,gray 50%);
}