.DOMTask {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.DOMTaskButton {
    margin:10px;
    border-radius: 10px;
    border: 0px;
    background-color: #2d92e2;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
}

.DOMText {
    color: white;
    font-size: 20px;
    margin: 2px;
}