.jsTask {
    margin-left: 3%;
    margin-top: 3%;
    display: none;
}

#jsTaskInput {
    border-radius: 10px;
    border: 7px solid #878787;
    padding: 4px 10px;
    outline: 0;
}

#jsTaskInput:focus {
    box-shadow: 0px 0px 4px #0d72e2;
    border-color: #0d72e2;
}

#jsTaskInput::-webkit-inner-spin-button{
    display: none;
}

#jsTaskButton {
    border-radius: 10px;
    border: 0px;
    background-color: #2d92e2;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
}

#jsTaskAnswer{
    display: none;
    font-size: 24px;
    font-family: sans-serif;
}