#settings {
    position: relative;
    left: 2vw;
    width: 2.5vw;
    height: 2.5vw;
}

.modalDiv {
    width: 70vh;
    height: 40vh;
    border: 8px solid;
    border-image: repeating-linear-gradient(
        135deg,
        red,
        red 10%,
        green 10%,
        green 20%
    );
   border-image-slice: 5%;

   background: #fcf;
   left: 45%;
   position: fixed;
   
   margin-top: -150px;
   margin-left: -150px;
   display: none;
   opacity: 0;
   z-index: 5;
}

.modalClose {
   width: 21px;
   height: 21px;
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   display: block;

   font-family: sans-serif;
   font-size: 3.2vh;
   color: white
}

.modalTitle {
    display: flex;
    width: 100%;
    height: 6vh;
    padding: 0px;
    background-color: #031f13;
    
    font-family: sans-serif;
    font-size: 3.2vh;
    color: white;
    align-items: center;
}

#overlay {
   z-index:3;
   position:fixed;
   background-color:#000;
   opacity:0.8;
   -moz-opacity:0.8;
   filter:alpha(opacity=80);
   width:100%;
   height:100%; 
   top:0;
   left:0;
   cursor:pointer;
   display:none;
}

.settingInput {
    margin: 1vh;
    border-radius: 10px;
    border: 7px solid #878787;
    padding: 4px 10px;
    outline: 0;
}

.settingText {
    font-family: sans-serif;
    font-size: 3.2vh;
}

#settingApply {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0px;
    background-color: #2d92e2;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.settingField {
    display: flex;
    width: 100%;
}