::-webkit-scrollbar { width: 10px; height: 10px;}
::-webkit-scrollbar-button {  background-color: #041b15; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #041b15;}
::-webkit-scrollbar-thumb { height: 0px; background-color: rgb(52,58,64); border-radius: 5px;}
::-webkit-scrollbar-corner { background-color:#041b15;}}
::-webkit-resizer { background-color: #041b15;}

body {
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    position: absolute;
	
    background-color: #036F03;
    flex-shrink: 0;
    min-height: 15vh;
    min-width: 1200px;
}

#instruction {
    display: inline-flex;
    align-self: center;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 6.4vh;
}

nav {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    top: 15vh;
    position: absolute;

    background-color: #4A4;
    flex-shrink: 0;
    min-height: 6vh;
    min-width: 1200px;
}

#navBlock {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.colorDesign {
    display: inline;
    margin-left: 2vw;
    color: lightgrey;
    
    align-self: center;

    width: 4vh; 
    height: 4vh;
    
    border-radius: 50%;
}

#firstColorDesign {
    background: #036F03;
    border: 5px solid #4A4;
}

#secondColorDesign {
    background: #aa222b;
    border: 5px solid #dd555e;
}

.navLinks {
    display: inline;
    margin-left: 5vw;
    text-decoration: none;
    align-items: flex-end;
    color: lightgrey;
    font-family: sans-serif;
    font-size: 4.8vh;
}

.navLinks:hover {
    color: #181F41;
}

#firstLink {
    margin-left: 0;
}

#siteBody {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    position: absolute;
    
    width: 100%;
    top: 21vh;
    min-height: 68vh;
    min-width: 1200px;
    background-color: #fcf;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    position: absolute;
    
    width: 100%;
    top: 89vh;
    min-height: 11vh;
    min-width: 1200px;
    background-color: #031f13;
}

#clickText {
    display: flex;
    font-family: sans-serif;
    font-size: 8vh;
    color: white;

    margin-left: 5vw;
    margin-right: auto;
    align-self: center;
}

#timer {
    display: flex;
    font-family: sans-serif;
    font-size: 8vh;
    color: white;

    margin-left: 5vw;
    margin-right: auto;
    align-self: center;
}

#resultText {
    display: flex;
    font-family: sans-serif;
    font-size: 3.2vh;
    color: white;

    margin-left: auto;
    align-self: center;
}

.button {
    display: flex;
    font-family: sans-serif;
    font-size: 3.2vh;
    color: white;

    align-self: center;

    background-color: #088;
    padding: 10px;
    border-radius: 15px;

    margin-left: 2vw;
    margin-right: 10vw;
}

.button:hover {
    color: #181F41;
}

.block {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    
    font-family: sans-serif;
    font-size: 3.6vh;

    width: 10vh; 
    height: 10vh;
    background: #F84;
    border-radius: 50%;
    border: 1vh solid #730;
}

@keyframes swinging {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(24deg); }
    10% { transform: rotate(-20deg); }
    15% { transform: rotate(18deg); }
    20% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    30% { transform: rotate(-12deg); }
    35% { transform: rotate(10deg); }
    40% { transform: rotate(-8deg); }
    45% { transform: rotate(6deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#congratulations {
    position: absolute;
    left: 60vh;
    top: 10vh;
    color: brown;
    font-family: sans-serif;
    font-size: 12.8vh;

    animation: swinging 30s ease-in-out;
    transform-origin: 50% 0;
}